{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{ flat.house.name }} {% endblock %}
{% load app_tags %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">{{ flat.house.name }}</h1>
        <p class="lead">
          <i class="fas fa-map-marker"></i> {{ flat.house.location }}, {{ flat.house.state }}, zipcode:{{flat.house.zipcode }}
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'flats' %}">Property</a>
        </li>
        <li class="breadcrumb-item active">{{ flat.house.name }}</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Listing -->
<section id="flat" class="py-4">
  <div class="container">
    <a href="{% url 'flats' %}" class="btn btn-light mb-4">Back To flats</a>
    <div class="row">
      <div class="col-md-9">
        <!-- Home Main Image -->
        <img src="{{ flat.photo_main.url }}" alt="" class="img-main img-fluid mb-3">
        <!-- Thumbnails -->
        <div class="row mb-5 thumbs">
          {% if flat.photo_1 %}
          <div class="col-md-2">
            <a href="{{ flat.photo_1.url }}" data-lightbox="home-images">
              <img src="{{ flat.photo_1.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if flat.photo_2 %}
          <div class="col-md-2">
            <a href="{{ flat.photo_2.url }}" data-lightbox="home-images">
              <img src="{{ flat.photo_2.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if flat.photo_3 %}
          <div class="col-md-2">
            <a href="{{ flat.photo_3.url }}" data-lightbox="home-images">
              <img src="{{ flat.photo_3.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if flat.photo_4 %}
          <div class="col-md-2">
            <a href="{{ flat.photo_4.url }}" data-lightbox="home-images">
              <img src="{{ flat.photo_4.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if flat.photo_5 %}
          <div class="col-md-2">
            <a href="{{ flat.photo_5.url }}" data-lightbox="home-images">
              <img src="{{ flat.photo_5.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if flat.photo_6 %}
          <div class="col-md-2">
            <a href="{{ flat.photo_6.url }}" data-lightbox="home-images">
              <img src="{{ flat.photo_6.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
        </div>
        <!-- Fields -->
        <div class="row mb-5 fields">
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fas fa-money-bill-alt"></i> Asking Price:
                <span class="float-right">৳{{ flat.price | intcomma }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bed"></i> Bedrooms:
                <span class="float-right">{{ flat.bedrooms }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bath"></i> Bathrooms:
                <span class="float-right">{{ flat.bathrooms }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-car"></i> Garage:
                <span class="float-right">{{ flat.garage }}
                </span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fas fa-th-large"></i> Square Feet:
                <span class="float-right">{{ flat.sqft }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-square"></i> Lot Size:
                <span class="float-right">{{ flat.lot_size }} Acres
                </span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-calendar"></i> Flat Type:
                <span class="float-right">{{ flat.get_flat_type_display }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bed"></i> Owner:
                <span class="float-right">{{ flat.house.owner.username }}
                </span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Description -->
        <div class="row mb-5">
          <div class="col-md-12">
            {{ flat.description }}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3">
          <img class="card-img-top" src="{{ flat.house.photo.url }}" alt="">
          <div class="card-body">
            <h5 class="card-title">Property Owned By</h5>
            <h6 class="text-secondary">{{ flat.house.owner.username }}</h6>
            <p class="text-secondary">We can take care of comfort and quality</p>
          </div>
        </div>
        {% if request.user|has_group:"user" %}
        <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Book Now</button>
        {% elif user.is_authenticated %}
        <button class="btn-primary btn-block btn-lg" href="{% url 'login' %}">Login As User To Book This Room</button>
        {% else %}
        <button class="btn-primary btn-block btn-lg" href="{% url 'login' %}">Login To Book This Room</button>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<!-- Inquiry Modal -->
<div class="modal fade multi-step" id="inquiryModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Steps Header with progress bar -->
        <h5 class="modal-title step-1" id="inquiryModalLabel" data-step="1">Step 1: Select Months</h5>
        <h5 class="modal-title step-2" id="inquiryModalLabel" data-step="2">Step 2: Make The Payment</h5>
        <h5 class="modal-title step-3" id="inquiryModalLabel" data-step="3">Final Step: Police Verification Form</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <!-- Modal body -->
      <form action="{% url 'reservation' %}" method="POST">
        <div class="modal-body step-1" data-step="1">
          {% csrf_token %}
          {% if user.is_authenticated %}
          <input type="hidden" name="user_id" value="{{ user.id }}">
          {% else %}
          <input type="hidden" name="user_id" value="0">
          {% endif %}
          <input type="hidden" name="realtor_email" value="{{ user.email }}">
          <input type="hidden" name="flat_id" value="{{ flat.id }}">
          <div class="form-group">
            <label for="property_name" class="col-form-label">Property:</label>
            <input type="text" name="flat" class="form-control" value="{{ flat.house.name }}" disabled>
          </div>
          <div class="form-group">
            <label for="flatnumber" class="col-form-label">Flat Number:</label>
            <input type="text" name="flatnumber" class="form-control" value="{{ flat.flatnumber }}" disabled>
          </div>
          <div class="form-group">
            <label for="Price" class="col-form-label">Price Per Month:</label>
            <input type="text" name="pricepermonth" class="form-control" value="{{flat.price}} Taka" disabled>
          </div>
          <div class="form-group">
            <label for="check_in_month" class="col-form-label">Check In Month:</label>
            <input type="month" name="check_in_month" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="check_out_month" class="col-form-label">Check Out Month:</label>
            <input type="month" name="check_out_month" class="form-control" required>
          </div>
          <hr>
        </div>


        <div class="modal-body step-2" data-step="2">
          <div class="form-group">
            <label for="Price" class="col-form-label">Price Per Month:</label>
            <input type="text" name="pricepermonth" class="form-control" value="{{flat.price}} Taka" disabled>
          </div>
          <div class="form-group">
            <label for="totalamount" class="col-form-label">Totall Amount:</label>
            <input type="text" name="totalamount" class="form-control" value="{{flat.price}} Taka" disabled>
          </div>
          <div class="form-group">
            <label for="bkashbumber" class="col-form-label">Bkash Number:</label>
            <input type="text" name="bkashbumber" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="trxid" class="col-form-label">Trx ID:</label>
            <input type="text" name="trxid" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="sendamount" class="col-form-label">How Much Sent:</label>
            <input type="text" name="sendamount" class="form-control" required>
          </div>
        </div>


        <div class="modal-body step-3" data-step="3">
          <div class="form-group">
            <label for="fathername" class="col-form-label">Father Name:</label>
            <input type="text" name="fathername" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="mothername" class="col-form-label">Mother name:</label>
            <input type="text" name="mothername" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="nationality" class="col-form-label">Nationality:</label>
            <input type="text" name="nationality" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="nid" class="col-form-label">NID Number:</label>
            <input type="text" name="nid" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="maritalstatus" class="col-form-label">Marital Status:</label>
            <select class="form-control" aria-label="Default select example" name="maritalstatus"  required>
              <option selected>Select</option>
              <option value="Single">Single</option>
              <option value="Married">Married</option>
              <option value="Divorced">Divorced</option>
            </select>
          </div>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning step step-2" data-step="2"
            onclick="sendEvent('#demo-modal-3', 1)">Back</button>
          <button type="button" class="btn btn-primary step step-1" data-step="1"
            onclick="sendEvent('#demo-modal-3', 2)">Next</button>
          <button type="button" class="btn btn-warning step step-3" data-step="3"
            onclick="sendEvent('#demo-modal-3', 2)">Back</button>
          <button type="submit" class="btn btn-success step step-3" data-step="3">Submit</button>
          <button type="button" class="btn btn-primary step step-2" data-step="2"
            onclick="sendEvent('#demo-modal-3', 3)">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}